body{
    background-color: #f2f4e9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 300;
}
span{
    background-color: #ddddc8;
}
p{
    font-size: 15px;
}
li{
    font-size: 15px;
}
h6{
    margin-top: 0px;
    margin-bottom: 0px;
}
body{font-family:cursive;}h1,h2,h3,h4,h5,h6{font-family:fantasy;}
hr{
    width: 100%;
}
code{
    background-color: #ddddc8;
}
a:link{ color: black; }
a:visited{ color: black; }
a:hover{ color: brown; }
a:active{ color: red; }

/* Required for three columns:*/
.tricolmain{ clear: both; }
[class*="tricol-"]{ width: 95%; }
@media only screen and (min-width: 768px) {
    .tricol-l{ float: left; width: 33%; }
    .tricol-r{ float: right; width: 33%; }
    .tricol-c{ display: inline-block; width: 33%; }
}
